<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>We're up and running!</h1>

    <ul>
      <li>Kyle</li>
      <li>Chris</li>
    </ul>

    <form class="" action="index.html" method="post">
      <label for="">Username</label>
      <input type="text" name="" value=""> <br>
      <label for="">Password</label>
      <input type="text" name="" value="">
    </form>
  </body>
</html>
